* {
    box-sizing: border-box;
    font-family: "Open Sans";
    color: #999999;
}

/*background-color: #181818;*/
body {
  margin: 0;
  background-color: #181818;
  }
  
  

h1, h2, h3 {
  color: hotpink;
  letter-spacing: 1px;
}

p {
  color: WhiteSmoke;
  text-align: justify;
}

a  {
  color: pink;
  text-decoration: none;
}

a:hover, a:active  {
    color: hotpink;
    text-decoration: none; 
}

/*Header*/

.header {
  color: pink;
  text-align: center;
  padding: 20px;
}

.menu {
    overflow: hidden;
    margin: 0;
    background-color: #121212;
    
}

.menu a {
  font-size: 1.2em;
  font-family: "Open Sans";
  margin: 7px;
  text-transform: uppercase;
}

/*Content*/

/*Content 3 Columns*/
.row {
  margin: 50px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}


.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*Newspaper*/

.newspaper {
-webkit-columns: 2 350px;
  -moz-columns: 2 350px;
  columns: 2 350px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  column-rule: 1px solid lightblue;
  color: WhiteSmoke;
  font-size: 1.1em;  
}

.newspaper h2 {
  column-span: all;
}


.lead {
  font-variant: small-caps;
  font-size: 1.3em;
  text-align: left;
  font-style: italic;
}


.signature {
  text-align: right;
  font-size: 0.8em;
  font-variant: small-caps;
  color: #999999;
  padding: 5px;
  padding-right: 25px;
}










